<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <!-- <div class="btn-toolbar">
          <a class="btn rounded-pill btn-outline-dark m-1 btn-lg" href="#">Items<span class="sr-only">(current)</span></a>
           <a class="btn rounded-pill btn-outline-dark m-1 btn-lg" href="#">Borrowed Items</a>
            <a class="btn rounded-pill btn-outline-dark m-1 btn-lg" href="#">Categories</a>
        </div> -->
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-lg">
            <a href="{{ url_for('dashboard') }}"  class="btn btn-outline-dark">Items</a>
            <a href="#" class="btn btn-outline-dark">Borrowed</a>
            <a href="{{ url_for('categories') }}" class="btn btn-outline-dark">Categories</a>
            
        <!-- <li class="nav-item active">
          <a class="btn rounded-pill btn-outline-dark m-1 btn-lg" href="#">Items<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="btn rounded-pill btn-outline-dark m-1 btn-lg" href="#">Borrowed</a>
        </li>
        <li class="nav-item">
          <a class="btn rounded-pill btn-outline-dark m-1 btn-lg" href="#">Categories</a>
        </li> -->
          </div>
        </div>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> -->
        </li>
      </ul>
    </div>
  </nav>



<!-- <div class="container">
  <nav class="navbar navbar-expand bg-transparent">
    <img src="../static/img/logo.jpg" class="navbar-brand img-thumbnail rounded-circle border-primary ml-5 shadow mt-5" style="height: 100px; width: 100px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <h2 class="navbar-brand text-dark" href="/">InPack <span class="sr-only">(current)</span></h2>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
        <a href="/register" class="btn btn-outline-primary rounded-pill mr-5 mt-0">Sign Up?</a>
    </div>
  </nav>
</div>
 -->