<div class="container">
  <nav class="navbar navbar-expand bg-transparent">
    <img src="../static/img/logo.jpg" class="navbar-brand img-thumbnail rounded-circle border-primary ml-5 shadow mt-5" style="height: 100px; width: 100px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <h2 class="navbar-brand text-dark" href="/">InPack <span class="sr-only">(current)</span></h2>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>
        <a href="/register" class="btn btn-outline-primary rounded-pill mr-5 mt-0">Sign Up?</a>
    </div>
  </nav>
</div>