{% extends 'base.html' %}

{% block title %}
{{ title }}	
{% endblock %}

{% block content %}

		<!-- TABLE AND CARDS SECTION -->
		<div class="col-9">
				<br>
				<h2> {{title}} </h2>
			{% include 'modalcss.html' %}
			

			<a onclick="document.getElementById('id01').style.display='block'" size="auto" class="btn btn-outline-dark">Borrow Item</a>

		
			<div id="id01" class="modal">
			 
			<form class="modal-content animate" method="POST">
				
				<fieldset class="form-group">
					<div class="form-group">
						{{ form.borrow_fname.label(class="form-control-label") }}
						{% if form.borrow_fname.errors %}
							{{ form.borrow_fname(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.borrow_fname.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.borrow_fname(class="form-control form-control-lg") }}
						{% endif %}
					</div> 	
					<div class="form-group">
						{{ form.borrow_lname.label(class="form-control-label") }}
						{% if form.borrow_lname.errors %}
							{{ form.borrow_lname(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.borrow_lname.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.borrow_lname(class="form-control form-control-lg") }}
						{% endif %}
					</div> 	
					<div class="form-group">
						{{ form.borrow_idno.label(class="form-control-label") }}
						{% if form.borrow_idno.errors %}
							{{ form.borrow_idno(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.borrow_idno.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.borrow_idno(class="form-control form-control-lg") }}
						{% endif %}
					</div> 	
					<div class="form-group">
						{{ form.borrow_college.label(class="form-control-label") }}
						{% if form.borrow_college.errors %}
							{{ form.borrow_college(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.borrow_college.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.borrow_college(class="form-control form-control-lg") }}
						{% endif %}
					</div> 
					<div class="form-group">
						{{ form.borrow_course.label(class="form-control-label") }}
						{% if form.borrow_course.errors %}
							{{ form.borrow_course(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.borrow_course.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.borrow_course(class="form-control form-control-lg") }}
						{% endif %}
					</div> 
					<div class="form-group">
						{{ form.borrow_status.label(class="form-control-label") }}
						{% if form.borrow_status.errors %}
							{{ form.borrow_status(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.borrow_status.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.borrow_status(class="form-control form-control-lg") }}
						{% endif %}
					</div> 
					
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
			
			</div>

				
		<!--add item end-->	
			<div class="container mt-3">
			<div class="card-deck">
				
					{% for i in borrow %}
					
					{% if i.borrow_status == 'Borrowed' %}
			  <div class="card shadow" style="height: 10%;">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1">
			    <div class="card-body">
			      <center><h5 class="card-title">{{i.item_id['item_name']}}</h5></center>
			    </div>
			    <div class="card-footer">
				 <center><small class="text-muted">first name: {{i['borrow_fname']}}</small></center>
				  <center><small class="text-muted">last name: {{i['borrow_lname']}}</small></center>
				  <center><small class="text-muted">id no: {{i['borrow_idno']}}</small></center>
				  <center><small class="text-muted">college: {{i['borrow_college']}}</small></center>
				  <center><small class="text-muted">course: {{i['borrow_course']}}</small></center>
				
			    </div>
			  </div>
			<br> 
			{% endif %}
			 
			
			  {% endfor %}
			
			
			</div>
			<br>
			</div>	
		</div>
	</div>

{% endblock %}
