{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


		<!-- TABLE AND CARDS SECTION -->
		<div class="col-9">

				<br>
				<h2> {{title}} </h2>
			{% include 'modalcss.html' %}

			<div class="container mt-3">
			<div class="card-deck">
               
               
            
			
				
			  <div class="card shadow" style="height: 10%;">
			    
			    <div class="card-body">
			      <center><h5 class="card-title">Literary</h5></center>
                </div> 
                
			    <div class="card-footer">
                        <div class="card-body">
                            
                            
                            {% for i in items %}
                            {% if i.category == 'Literary' %}
                                <center><a  href="{{ url_for('viewitem', item_id=i.item_id, item_name=i['item_name']) }}" class="card-title">{{i.item_name}}</a></center>
                                <center><small>quantity: {{i.quantity}}</small></center>
                                <center><small>{{i.status}}</small></center>
                                <br>
                            {% endif %}
                            {% endfor %}
                            
                            </div>
				  
			    </div>
			  </div>
            <br>  
        
            <div class="card shadow" style="height: 10%;">
			    
                    <div class="card-body">
                      <center><h5 class="card-title">Sports</h5></center>
                    </div> 
                    
                    <div class="card-footer">
                            <div class="card-body">
    
                                {% for i in items %}
                                {% if i.category == 'Sports' %}
                                <center><a  href="{{ url_for('viewitem', item_id=i.item_id, item_name=i['item_name']) }}" class="card-title">{{i.item_name}}</a></center>
                                <center><small>quantity: {{i.quantity}}</small></center>
                                <center><small>{{i.status}}</small></center>
                                <br>
                                {% endif %}
                                {% endfor %}
                                </div>
                      
                    </div>
                  </div>
                <br>  

			
			
			</div>
			<br>
			</div>	
		</div>
	</div>

{% endblock %}
