{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% from '_formhelper.html' import render_field %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-3 position-fixed px-4 mx-0">
			<div class="container">
				<div class="card mt-3 ml-2 bg-transparent border-0" style="width: 252px;">
		  			<!-- <img src="../static/img/profile.png" class="card-img-top img-thumbnail rounded-circle border-0 w-75 ml-4"> -->
		  			<div class="card border border-primary mb-3 p-0">
  						<img src="../static/img/{{ college.college_pic }}" class="card-img-top p-0 m-1" style="height: 230px; width: 240px;">
 						<div class="card-footer border-top border-primary bg-light">
 							<h6>{{ college.college_name }}</h6>
 						</div>
					</div>
		    			<h5><strong>{{ user.firstname }} {{ user.lastname}}</strong></h5>
		    			<h6>@{{ user.username }}</h6>
		    			<!-- <a href="#" class="btn rounded-pill btn-outline-dark btn-block">Items</a>
		    			<a href="#" class="btn rounded-pill btn-outline-dark btn-block">Borrowed Items</a>
		    			<a href="#" class="btn rounded-pill btn-outline-dark btn-block">Categories</a> -->
		    			<br>
		    			<a href="/dashboard" class="btn rounded border-0 btn-outline-primary btn-block">List</a>
		    			{% if user.user_type == 'Admin' %}
		    			<a href="/dashboard/users" class="btn rounded btn-primary btn-block">Users</a>
		    			{% else %}
		    			
		    			{% endif %}
		    			<a href="/dashboard/profile" class="btn rounded border-0 btn-outline-primary btn-block">Profile</a>
		    			<a href="/logout" class="btn rounded border-0 btn-outline-danger btn-block" onclick="return confirm('Are you sure to want to logout?')">Log out</a>
				</div>
			</div>
			<br><br><br><br><br><br><br><br>
		</div>



		<!-- TABLE AND CARDS SECTION -->
		<div class="col-9 p-0">
			<div class="row mt-5 mx-3">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
				  Add User
				</button>

				<!-- Modal -->
				<div class="modal fade" name="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-scrollable" role="document">
				    <div class="modal-content">
				      <div class="modal-header border-0 text-center">
				        <h5 class="modal-title" id="exampleModalScrollableTitle">Add User</h5>

				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body mb-0">
				        <form class="form-signin" method="post" action="{{ url_for('dashboard_users') }}">
				    	{{ form.csrf_token }}
				  		<div class="form-group">
				  			<div class="row">
				  				<div class="col">
							    	<label>Contact Info</label>
							    	{{ render_field(form.contact, placeholder="Contact Number", class="form-control mb-2 border border-primary", required="true") }}
							    	{{ render_field(form.firstname, placeholder="First Name", class="form-control mb-2 border border-primary", required="true") }}
							    	{{ render_field(form.lastname, placeholder="Last Name", class="form-control mb-2 border border-primary", required="true") }}
							    	{{ render_field(form.email, placeholder="Email", class="form-control mb-2 border border-primary", required="true", type="email") }}
						    	</div>

						    	<div class="col">
							  		<label>Log In info</label>
							  		{{ render_field(form.username, placeholder="Username", class="form-control mb-2 border border-primary", required="true") }}
							  		{{ render_field(form.password, placeholder="Password", class="form-control mb-2 border border-primary", required="true") }}
							  		{{ render_field(form.confirm, placeholder="Confirm Password", class="form-control mb-2 border border-primary", required="true") }}
							  		<div class="input-group mb-3 rounded border border-primary">
									  <select class="custom-select" name="category_name" id="inputGroupSelect01">
									  	<option selected>Choose...</option>
									  	{% for cats in cat %}
										    <option value="{{ cats.category_name }}">{{ cats.category_name }}</option>							 
									    {% endfor %}
									  </select>
									</div>
						    	</div>
						    	<div class="container">
						    	{{ render_field(form.rfid, placeholder="Please tap your ID to Sign Up", class="form-control text-center border-0 mb-0 mt-0", required="true") }}
							    	<input type="submit" name="login-info" hidden="true">
							    </div>
					    	</div>
					    	
					    	<div class="text-center">
					    	</div>
				    	</div>		
						</form>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- MODAL -->
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-success mx-1" data-toggle="modal" data-target="#myModal2">
				  Add Category
				</button>

				<!-- Modal categories -->
				<div class="modal fade" name="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-scrollable" role="document">
				    <div class="modal-content">
				      <div class="modal-header border-0 text-center">
				        <h5 class="modal-title text-success" id="exampleModalScrollableTitle">Add Category</h5>

				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body mb-0">
				      	<form class="form-signin" method="post" action="{{ url_for('add_category') }}">
				      		{{ form2.csrf_token }}
				      		{{ render_field(form2.category_name, placeholder="Category name", class="form-control mb-2 border border-success", required="true") }}
					      	<button type="submit" class="btn btn-success">Submit</button>
				      	</form>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- MODAL -->

			</div>
			<div class="container my-3">
			<div class="card p-3 mr-5 border border-primary">
				<table class="table table-light">
				  <thead class="text-center">
				    <tr>
				      <th scope="col">Type</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Username</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody class="text-center m-0">
				    {% for datum in data %}
				    	{% if datum.user_type != 'Admin' %}
					        <tr>
					          <td>{{ datum.user_type }}</td>
					          <td>{{ datum.firstname }} {{ datum.lastname }}</td>
					          <td>{{ datum.email  }}</td>
					          <td>@{{ datum.username }}</td>
					          <td>
					          	<div class="bth-group" role="group">
					              <!-- <a href="/update/{{ datum.id }}" class="btn btn-warning">Edit</a>  -->
					              <a href="{{ url_for('delete_user', id=datum.id) }}" class="btn btn-danger" onclick="return confirm('Are you sure to want to delete?')">X</i></a>
					            </div>
					          </td>
					        </tr>
				        {% endif %}
			        {% endfor %}
				  </tbody>
				</table>
			</div>
			</div>	
		</div>
	</div>
{% endblock %}
