{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


		<!-- TABLE AND CARDS SECTION -->
		<div class="col-9">
			<br>
			<h2> {{title}} </h2>

			{% include 'modalcss.html' %}
				
		<!--add item end-->	
			<div class="container mt-3">
			<div class="card-deck">
				
					{% for i in items %}
			  <div class="card shadow" style="height: 10%;">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1">
			    <div class="card-body">
			      <center><a href="{{ url_for('viewitem', item_id=i.item_id) }}" class="card-title">{{i['item_name']}}</a></center>
			    </div>
			    <div class="card-footer">
				  <center><small class="text-muted">{{i['category']}}</small></center>
				  <center><small class="text-muted">{{i['status']}}</small></center>
				  <center><small class="text-muted">qnty: {{i['quantity']}}</small></center>
				  <br>
				 
				</div>
			  </div>
			<br>  

			  {% endfor %}
			
			
			</div>
			<br>
			</div>	
		</div>
	</div>
	<script>
		// Get the modal
		var modal = document.getElementById('id01');
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
		</script>
		

{% endblock %}
