{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-3 position-fixed">
			<div class="container">
				<div class="card mt-4 ml-2 bg-transparent border-0" style="width: 100%;">
		  			<img src="../static/img/profile.jpg" class="card-img-top img-thumbnail rounded-circle border-0 w-75 ml-4">
		  			<div class="card-body">
		    			<h5 class="card-title text-center">Zelah Mari-Chan</h5>
		    			<hr>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    			tempor incididunt</p>
		    			<!-- <a href="#" class="btn rounded-pill btn-outline-dark btn-block">Items</a>
		    			<a href="#" class="btn rounded-pill btn-outline-dark btn-block">Borrowed Items</a>
		    			<a href="#" class="btn rounded-pill btn-outline-dark btn-block">Categories</a> -->
		    			<hr>
		    			<a href="#" class="btn rounded-pill btn-outline-dark btn-block">Edit Profile</a>
		    			<a href="#" class="btn rounded-pill btn-danger btn-block">Log out</a>
		 			</div>
				</div>
			</div>
		</div>



		<!-- TABLE AND CARDS SECTION -->
		<div class="col-9">
			{% include '_navbar.html' %}
			<div class="container mt-3">
			<div class="card-deck">
			  <div class="card shadow" style="height: 10%;">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1">
			    <div class="card-body">
			      <h5 class="card-title">Item 1</h5>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			  <div class="card shadow">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Item 2</h5>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			  <div class="card shadow">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Item 3</h5>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			</div>
			<br>

			<div class="card-deck">
			  <div class="card shadow">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1">
			    <div class="card-body">
			      <h5 class="card-title">Item 4</h5>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			  <div class="card shadow">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Item 5</h5>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			  <div class="card shadow">
			    <img src="../static/img/logo.jpg" class="card-img-top p-1" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Item 6</h5>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			</div>
			<!-- <hr>			
				<table class="table table-light border-0 shadow">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">First</th>
				      <th scope="col">Last</th>
				      <th scope="col">Handle</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Mark</td>
				      <td>Otto</td>
				      <td>@mdo</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td>Jacob</td>
				      <td>Thornton</td>
				      <td>@fat</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>Larry</td>
				      <td>the Bird</td>
				      <td>@twitter</td>
				    </tr>
				  </tbody>
				</table> -->
			</div>	
		</div>
	</div>
{% endblock %}
