{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
{% from '_formhelper.html' import render_field %}
	<div class="row">
		<div class="col-lg-4"></div>

		<div class="col-4" style="margin-top: 3%;">
			<div class="container mt-2">
				<img src="../static/img/logo.jpg" class="img-thumbnail rounded-circle shadow mb-3" style="height: 135px; width: 135px; margin-right: 35%; margin-left: 35%;">
				<div class="card shadow bg-white">
					<div class="card-header bg-white border-0 pb-0 mb-0">
						<h5 class="text-center">Log in Here</h3>
							<hr>
					</div>
				  <div class="card-body m-0 pt-0">
				    <form  method="post" action="{{ url_for('index') }}">
				    	{{ form.csrf_token }}
					  	<div class="form-group">
					  		{{ render_field(form.username, placeholder="Username", class="form-control mb-2 border border-primary text-center", required="true") }}
					  		{{ render_field(form.rfid, placeholder="Please tap your ID", class="form-control text-center border-primary mb-2 mt-0", required="true") }}
					  		<!-- <input placeholder="Username" type="text" class="form-control mb-2 border border-primary">
					    	<input type="password" class="form-control text-center border-primary mb-2 mt-0" id="rfid" placeholder="Please tap your ID"> -->
					  	</div>
					  	<input type="submit" name="login" hidden="true">
				    	<!-- <a href="/home" class="btn btn-primary rounded-pill">Log In</a> -->
					</form>
				  	<small class="col-4"><a href="/login">Lost your ID?</a></small>
				  	<hr>
				<div class="container mt-2 text-center">
					<small>Haven't sign up yet? <a href="/signup">Get Started</a></small>
				</div>
				  </div>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			
		</div>
	</div>
{% endblock %}