{% extends 'base.html' %}
{% from '_formhelper.html' import render_field %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-3"></div>

		<div class="col-6" style="margin-top: 1%;">
			<div class="container mt-2">
				<img src="../static/img/logo.jpg" class="img-thumbnail rounded-circle border-0 shadow mb-3" style="height: 135px; width: 135px; margin-right: 35%; margin-left: 40%;">
				<div class="card border-0 shadow bg-white">
					<div class="card-header bg-white border-0 pb-0 mb-0">
						<h5 class="text-center">Registration</h3>
							<hr>
					</div>
				  <div class="card-body m-0 pt-0">
				    <form class="form-signin" method="post" action="/results">
				    	
				  		<div class="form-group">
				  			<div class="row">
				  				<div class="col">
							    	<label>Contact Info</label>
							    	<input name="contact" placeholder="Contact Number" type="text" class="form-control mb-2 border border-primary" required="true">
							    	<input name="firstname" placeholder="First Name" type="text" class="form-control mb-2 border border-primary" required="true">
							    	<input name="lastname" placeholder="Last Name" type="text" class="form-control mb-2 border border-primary" required="true">
							    	<input name="email" placeholder="Email" type="email" class="form-control mb-2 border border-primary" required="true">
						    	</div>
						    	<div class="col">
							  		<label>Log In info</label>
							  		<input name="username" placeholder="Username" type="text" class="form-control mb-2 border border-primary" required="true">
							  		<input name="password" placeholder="Password" type="password" class="form-control mb-2 border border-primary" required="true">
							  		<input name="rpassword" placeholder="Re-type Password" type="password" class="form-control mb-2 border border-primary" required="true">
							    	<input name="rfid" type="password" class="form-control text-center border-0 mb-2 mt-0" id="rfid" placeholder="Please tap your ID to Sign Up" required="true">
							    	<input type="submit" name="login-info" hidden="true">
						    	</div>
					    	</div>
					    	<br>
					    	<div class="text-center">
					    		<small>Already have a account? <a href="/">Log In</a></small>
					    	</div>
				    	</div>		
					</form>
				  </div>
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			
		</div>
	</div>
{% endblock %}