{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

		<!-- TABLE AND CARDS SECTION -->
		<div class="col-9">
				<br>
				<h2> {{title}} </h2>
			{% include 'modal.html' %}

			<a onclick="document.getElementById('id01').style.display='block'" size="auto" class="btn btn-outline-dark">Add Item</a>

			

			<div id="id01" class="modal">
				
			  
			  <form class="modal-content animate"  method="post">
				
			
				<div class="container">
				  <label for="item_name"><b>Item</b></label>
				  <input type="text" placeholder="Enter Item Name" name="item_name" required>
			
				  <label for="status"><b>Status</b></label>
				  <input type="text" placeholder="Enter Status" name="status" required>
					
				  <label for="category"><b>Category</b></label>
				  <input type="text" placeholder="Enter Category" name="category" required>

				  <label for="quantity"><b>Quantity</b></label>
				  <input type="text" placeholder="Enter Quantity" name="quantity" required>
				  <center><button class="btn rounded-pill btn-outline-dark btn-block" width="auto" >submit</button></center>
				  
				</div>
			
				<div class="container" style="background-color:#f1f1f1">
				  <button type="button" width="auto" onclick="document.getElementById('id01').style.display='none'" class="btn rounded-pill btn-danger btn-block">Cancel</button>
				</div>
			  </form>
		
			
			</div>



			<script>
				// Get the modal
				var modal = document.getElementById('id01');
				
				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
				}
				</script>
				
		<!--add item end-->	
			<div class="container mt-3">
			<div class="card-deck">
				
			  <form class="modal-content animate" method="POST">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">{{ legend }}</legend>
						<div class="form-group">
							{{ form.item_name.label(class="modal-content animate") }}
							{% if form.item_name.errors %}
								{{ form.item_name(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.item_name.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.item_name(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.status.label(class="form-control-label") }}
							{% if form.status.errors %}
								{{ form.status(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.status.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.status(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.category.label(class="form-control-label") }}
							{% if form.category.errors %}
								{{ form.category(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.category.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.category(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.quantity.label(class="form-control-label") }}
							{% if form.quantity.errors %}
								{{ form.quantity(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.quantity.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.quantity(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
				</form>
			
			</div>
			<br>
			</div>	
		</div>
	</div>

{% endblock %}
